body{
  background-color: rgb(29, 27, 27);
}

h1{
  color: orangered;
  text-align: center;
}

.textColor{
  color: rgb(153, 153, 144);
  font-family: Arial, Helvetica, sans-serif;
}

section{  
  width: 350px;  
  margin-left: 35%;
}

button{
  border-radius: 5px;  
}

#flex{  
  display: flex;
  flex-direction: column;
}

